:root{
  --base-color: #800002;
  --background-color: #800002;
  --text-color: white;
  --hover-color: rgba(255,255,255, 0.2);
  --black-color: rgb(0, 0, 0);
  --border-color-focus: #ff6a6c;
}
body.darkmode{
  --base-color: #3D4459;
  --background-color: #2a2f3e;
  --text-color: white;
  --hover-color: rgba(255,255,255, 0.2);
  --black-color: rgb(0, 0, 0);
  --border-color-focus: #ff6a6c;
}



/* 🔥 wrapper (สำคัญสุด) */
.otp-wrapper {
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: #e8d8b5;
  border-radius: 10px;
}

/* 🧱 card */
.card {
  background: #eee;
  padding: 25px;
  border-radius: 20px;
  border: 2px solid var(--background-color);
  box-sizing: border-box;
}

/* 📄 text */
.desc {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

/* 🔒 icon */
.icon {
  font-size: 50px;
  margin: 15px 0;
}

/* 🔢 otp */
.otp-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.otp-input input {
  width: 40px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background: #ccc;
}

/* 📌 hint */
.hint {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

/* 🔘 button */
.btn-send {
  width: 100%;
  padding: 12px;
  background: var(--background-color);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* 🔁 resend */
.resend {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}